.header-top {
   padding:5px 0;
   background-color: rgb(26 222 122);
   border-bottom: 1px solid rgba(0,0,0,.7);
}

.header__top {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.header__logo span {
   font-size: 30px;
   font-weight: 900;
   color: rgba(0,0,0,.7);
}
.header__logo span:last-child{
   text-shadow: 5px 0px rgba(0,0,0,.7);
}
/* login.html */
.header__user-buttons {
   display: flex;
   align-items: center;
   
}
.header__user-btn:last-child{
   margin-left: 10px;
}
.header__user-btn{
   background-color: rgb(166, 248, 166);
   /* border: none; */
   color:black;
}



.header__burger{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 12px;
   align-items: center;
   margin-left: 10px;
}
/* .header__burger span{
   width: 90%;
   height: 3px;
   background-color:rgba(0,0,0,.7) ;
} */
.header__burger img{
   width: 30px;
   height: 30px;
}
.header__serch {
   margin-left: auto;
   position: relative;
}
.header__serch::after{
   position: absolute;
   content: "";
   background-image: url(../images/tbgledit_200_ltr.png);
   width: 32px;
   height: 32px;
   top: 0;
   left: 0;
}
.header__serch input{
   min-width: 150px;
   max-width: 300px;
   height: 35px;
   border-radius: 5px;
   padding-left: 35px;
}
.header__icons-group{
   display: flex;
    /* margin-left: auto; */
    align-self: end;
}
.header__notification {
   margin-left: 20px;
}
.header__history {
   margin-left: 20px;
}
.header__favorites {
   margin-left: 20px;
}
.header__function {
   margin-left: 20px;
   width: 32px;
   height: 32px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}
.header__function span:not(:last-child){
   width: 70%;
   height: 2px;
   background-color:rgba(0,0,0,.7) ;
}
.header__function span:last-child{
   width: 0; 
   height: 0;
   border-left: 7px solid transparent;
   border-right: 7px solid transparent;
   border-top: 7px solid rgba(0,0,0,.7);

}

/* header-mid */
.header-mid {
   background-color: rgb(26 222 122);
}
.menu__list {
   display: flex;
   align-items: center;
}
.menu__item{
   padding: 0 10px;
   border-bottom: 1px solid transparent;
}
.menu__item.bgc-white{
   background-color: #fff;
   border-bottom: 1px solid rgb(26 222 122);
}
.menu__link {
   display: flex;
   align-items: center;
   padding: 5px 0;
}
.menu__link:hover .menu__category{
   border-bottom: 1px solid rgba(0,0,0,.7);
}
.menu__category {
   color:rgba(0,0,0,.7) ;
   padding: 3px 0;
   border-bottom: 1px solid transparent;
   font-size: 20px;
   margin-left: 15px;
}
/* header-bottom */

.header-bottom {
   border-top: 1px solid rgba(0,0,0,.7);
   border-bottom:  1px solid rgba(0,0,0,.7);
   display: none;
}
.row__buttons-group {
   display: none;
   max-width: 250px;
}
.header-bottom.is-show{
   display: block;
}
.visible{
   display: block;
}

/* media */
@media (max-width:582px){
   .header__serch{
      display: none;
   }
   .header__icons-group{
      display: none;
   }
   .header-bottom__menu{
      display: none;
   }
   .row__buttons {
      display: none;
   }
   .row__buttons-group{
      display: flex;
      justify-content: space-between;
      width: 110px;
   }
}